*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures



#09.04.2019  Is ok. I have check this.
#If so you have to see this.
#Change the below line to comment. Add the symbol #.
.idea
